*{
	padding:0;
	margin:0;
}
.head_bar{
	
	width:100%;
	background-color:gray;
	
}
.nav_bar{
	
	width:50%;
	float:left;	
	
}
.nav_bar ul{
	
	width:50%;
	float:left;	
	
}
.img{
	margin:10px;
	padding:0px 15px;
}
