*{
	padding:0;
	margin:0;
}

.top-bar{
	width:100%;
	float:left;
	background-color:#bfbfbf;
	padding:5px 0;
}

.top-bar-left{
	width:50%;
	float:left;
	text-align:center;
}

.top-bar-left ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 5px;
	color:white;
}
.top-bar-left ul li{
	list-style:none;
	display:inline;
	width:20px;
	padding:5px;
	margin-right:30px;	
	color:white;
	transition:ease-in-out 0.4s;
}
.top-bar-left ul li:hover{
	list-style:none;
	transition:ease-in-out 0.4s;
	display:inline;
	width:20px;
	padding:5px;
	margin-right:30px;	
	color:blue;
}

.top-bar-right{
	width:50%;
	float:right;
	text-align:center;
}

.top-bar-right ul{
	text-decoration:none;
	padding:0;
	margin:0;
	float:right;
}

.top-bar-right ul li{
	color:white;
	width:20px;
	display:inline;
	float:left;
	border:1px solid white;
	padding:5px;
	margin:0px 5px;
	transition:ease-in-out 0.4s;
}

.top-bar-right ul li:hover{
	color:blue;
	transition:ease-in-out 0.4s;
	width:20px;
	display:inline;
	float:left;
	border:1px solid white;
	padding:5px;
	margin:0px 5px;
}
.wrap{
	max-width:1180px;
	width:100%;
	margin:0px auto;
}